/longMethod/nbproject/private/
/longMethod/build/
/LongClass/nbproject/private/
/PrimitiveObsession/nbproject/private/
/PrimitiveObsession/build/
/DataClumbs/nbproject/private/
/RefusedBequest/nbproject/private/
/SwitchStatement/nbproject/private/
/Comentarios/nbproject/private/
/Duplicate/nbproject/private/